# (REQUIRED) Path to the ephemeris file. Download the latest file from https://www.nasa.gov/missions/artemis/artemis-2/track-nasas-artemis-ii-mission-in-real-time/
EPHEMERIS_FILE='Path/to/ephemeris/file'



# Name of your observation site
LOCATION_NAME='My Location'

# (REQUIRED) Latitude of your observation site (decimal degrees)
LATITUDE=0.0

# (REQUIRED) Longitude of your observation site (decimal degrees)
LONGITUDE=0.0

# (REQUIRED) Elevation of your observation site (decimal metres)
ELEVATION=0.0



# Focal length of telescope in mm
FOCAL_LENGTH=1422

# Pixel size of camera in micro meters (um) [1e-6 meters], assuming square pixels
PIXEL_SIZE=3.76



# Optional output table display options. Change these if you like.
SHOW_UTC_TIME=False
SHOW_JD=False
SHOW_MET=True




# Output filename for Celestia .xyzv data
CELESTIA_FILENAME='Celestia/Orion_Artemis_II_Traj_Celestia.xyzv'

# Output filename for Celestia .ssc Spacecraft file
CELESTIA_SPACECRAFT_NAME='Celestia/orion_artemis_ii_celestia.ssc'

# Output filename for Stellarium data
SETALLARIUM_FILENAME='Stellarium/Orion_Artemis_II_Data.inc'

